.header {
  display: flex;
  width: 1100px;
  padding: 93px 24px 89px 24px;
}
.header__menu {
  display: flex;
  padding: 44px 30px 39px 26px;
}

.header__links-list {
  display: flex;
  list-style: circle; 
  gap: 34px;
  font-size: 18px;
}

.header__links-list-item_activ {
  list-style: none;
}

.header_link_activ {
  text-decoration: none;
}

.header__logo {
  display: block;
  justify-self: center;
  align-self: center;
  width: 138px;
  margin-left: 10px;
  margin-right: 186px;
}

.address {
  display: block;
  padding-top: 3px;
  font-size: 18.5px;
  font-style: normal;
  line-height: 1.3em;
}

.cover {
  position: relative;
  background-position: center;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 0;
  padding: 161px 50px 50px 50px;
}


.aligned-text {
  display: block;
  justify-content: left;
}

.aligned-text_center {
  display: flex;
  justify-content: center;
  padding-top: 22px;
  letter-spacing: 32px;
  padding-left: 12px;
}

.aligned-text_right {
  display: flex;
  padding-top: 18px;
  justify-content: right;
}
.letter-spacing-extended {
  padding-left: 35px;
  padding-right: 18px;
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}


.cover__description {
  display: block;
  position: relative;  
  color: white;
  padding: 136px 0 0;
}

.cover__description-text {
  display: inline;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 22px;
  word-spacing: 18px;
  padding-left: 29px;
}

.bet-button {
  display: inline;
  color: white;
  background: transparent;
  border: 1px solid white;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: normal;
  padding: 15px 30px 11px 28px;
  letter-spacing: 1px;
  margin-left: 76px;
}
.lots {
  display: block;
  position: relative;
  height: 100%;
  min-width: 1052px;
  padding-top: 183px;
  padding-left: 23px;
  padding-right: 24px;
}

.lots__heading {
  display: block;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  padding: 0 0 30px 40px;
  line-height: 1;
}

.lots__card-list {
  display: flex;
  list-style-type: none;
  gap: 25px;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

.card {
  display: flex;
  position: relative;
  width: 334px;
  height: 563px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 46px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  z-index: 0;
  flex-grow: 0;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  max-width: 254px;
  margin-top: 51px;
  margin-left: 40px;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  margin-left: 40px;
  margin-right: 40px;
  text-decoration: none;
}

.card-link{
  text-decoration: none;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
.about {
  padding-top: 182;
  padding-left: 25px;
  padding-right: 30px;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 27px;
}

.about_column {
  justify-self: center;
}

/* контейнер логотипа*/
.about_logo {
  display: flex;
  position: relative;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 150px;
  align-items: center;
}

.about_column_text {
  margin-top: 6px;
  grid-column: span 2;
}

.about_title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
  padding: 100px 0 104px;
  line-height: 1;
}


.about_text {
  font-size: 20px;
  line-height: normal;
}

  .footer {
    display: flex;
    justify-content: space-between;
    padding: 179px 48px 80px;
  }
  
  .footer__menu {
    padding-left: 30px;
    line-height: 1.2em;
    font-size: 18px;
    text-align: center;
  }
  
  .footer__menu-link {
    list-style-type: none;
  }
  
  .footer_link_activ {
    text-decoration: none;
  }
  
  .footer__social-list {
    display: flex;
    gap: 48px;
    list-style: none;
    padding-right: 5px;
  }
  
  .footer__social-icon {
    height: 48px;
    width: 48px;
  }