.header {
    display: grid;
    grid-template-columns: 1.51fr 2fr 1.5fr;
    align-items: center;
    padding: 92px 51px 89px;
  }
.header_menu{
display: flex;
padding: 44px 30px 39px 26px;
}
.menu-link{
display: flex;
padding: 44px 30px 39px 26px;
}
.nav a:before {
content: "$";
margin-right: 10px;
font-size: 20px;
}

.info_class{
display:flex;
justify-content: flex-end;
}
.first_img{
display:flex;
justify-content: center;
width: 50px;
height: 50px;
}
.cover_content-section{
background-image: url(../images/cover.jpg);
}
.lots{
display: block;
position: relative;
height: 100%;
min-width: 1052px;
padding-top: 183px;
padding-left: 23px;
padding-right: 24px;
margin-bottom: 50px;
}
.lots_heading{
text-transform: uppercase;
font-weight: bold;
font-size: 40px;
margin-bottom: 70px;
}
.lots_spisok{
display: flex;
list-style-type: none;
gap: 25px;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-between;
width: 100%;
}
.rehiser{
background-image: url(../images/card-lot-01.jpg);
background-repeat: no-repeat;
width: 200px;
height: 450px;
margin-bottom: 20px;
}
.kniga{
background-image: url(../images/card-lot-02.jpg);
background-repeat: no-repeat;
width: 200px;
height: 450px;  
margin-bottom: 20px;
    }
.kartina{
display:flex;
justify-content: flex-end;
background-image: url(../images/card-lot-03.jpg);
background-repeat: no-repeat;
width: 200px;
margin-bottom: 20px;
height: 450px;
}
.title_1{
width: 100px;
height: 100px;
}
.title_2{
    display:flex;
    align-items: center;
    width: 100px;
    height: 100px;
    }
.title_3{
    display: flex;
    justify-content: flex-end;
    width: 100px;
    height: 100px;
    }
.about_title{
margin-bottom: 70px;
margin-top: 70px;
}
.about_logo {
display: flex;;
position: relative;
width: 240px;
height: 240px;
background-color: black;
border-radius: 150px;
align-items: center;
}
.about_text {
display: flex;
flex-direction: column;
gap: 25px;
margin-bottom: 50px;
  }
.social_seti{
display: flex;
justify-content: flex-end;
height: 48px;
width: 48px;
}